@{
    ViewBag.Title = "Survey";
}
@using Olts.Domain
@model Survey

<h2>@ViewBag.Title</h2>

<h3>Model.Name</h3>
<h6>Model.Desciption</h6>

@foreach (Question question in Model.Questions)
{
    <b>@question.Text</b>
    
    
}



