@{
    ViewBag.Title = "Surveys";
}
@using Olts.Domain
@model IEnumerable<Survey>

<h2>@ViewBag.Title</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Survey survey in Model)
        {
            <tr>
                <td>@survey.Name</td>
                <td>@survey.Description</td>
                <td>
                    @Html.ActionLink("Start", "Survey", new { id = survey.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
